Footer {
    background-color: hsl(173, 100%, 7%);
    padding: 20px;

    .Footer__title {
        color: white;
        list-style: none;
        width: 500px;
        text-align: flex-end;
    }
      
    .main__social {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 10px;

        .fa-brands {
            color: white;
            font-size: 1em;
            width: 35px;
        } 

        .fa-solid {
            color: white;
            font-size: 1em;
            width: 35px;
        }
    }

    .text__into {
        grid-column: 7 / 9;
    }
}
  
