.body__form {
    font-family: "Noto Sans Display", sans-serif;
    font-family: "Staatliches", cursive;
    background-color: #0d0d0d;
    height: calc(100vh - 160px);
    max-width: 100%;

    .main {
        margin: auto;
        width: 90%;
        background-color: #224949;
        overflow: hidden;
        padding: .7em;
        border-radius: 1em;
    
        display: grid;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-auto-flow: max-content;
        min-height: 85.2vh;
        gap: .6em;
    
        /*animation: mostrar 1.5s ease-in-out;*/
        
        .main_figure {
            overflow: hidden;
            border-radius: 1em;
            display: flex;
    
            .main_img {
                margin: auto;
                width: 80%;
                max-width: 60vw;
            }
        }
    
        .main_contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5em;
            padding: 3em .7em;
            text-align: center;
    
            .main_form {
                display: grid;
                justify-items: center;
                gap: 1.5em;
    
                main.input {
                    width: 80%;
                    max-width: 500px;
                    outline: none;
                    border: none;
                    padding: 1em;
                    font: inherit;
                    border-radius: .6em;
                    
                    .main_input--send {
                        background-color: #256060;
                        color: white;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    
    
}

/*
.formulario {
    background-color: #224949;
    grid-column: 4 / 8;
    grid-row: 2 / 8;
    margin: auto;
    width: 100%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(134, 170, 170);
    text-align: center;

    .form__titulo {
        font-size: 2rem;
        margin-bottom: 0.5em;
    }
      
    .form__container {
        margin-top: 3em;
        display: grid;
        gap: 2.5em;

        .form__group {
            position: relative;
            --color: #5757577e;
            
            .form__input {
                width: 100%;
                background: none;
                color: #ffffff;
                font-size: 1rem;
                padding: 0.6em 0.3em;
                border: none;
                outline: none;
                border-bottom: 1px solid var(--color);
            }

            .form__label {
                color: var(--color);
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 5px;
                transform: translateY(10px);
                transition: transform 0.5s, color 0.3s;
            }

            .form__line {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #418888;
                transform: scale(0);
                transform: left bottom;
                transition: 0.4s;
            }
        }

        .form__submit {
            background: #ffffff;
            color: #000000;
            font-family: "Noto Sans Display", sans-serif;
            font-family: "Staatliches", cursive;
            padding: 0.8em 0;
            border: none;
            border-radius: 0.5em;
        }
        
    }
}

  
.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-12px) scale(0.7);
    transform-origin: left top;
    color: rgb(5, 5, 5);
}
  
.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
    transform: scale(1);
}
  
.form__container .form__submit:hover {
    background-color: rgb(28, 27, 27);
    color: white;
}
