@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Staatliches", cursive;
}
body .navbar {
  background-color: hsl(173deg, 100%, 7%);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
body .navbar .logo {
  width: 90px;
  height: 80px;
  grid-column: 1/2;
}
body .navbar .menu {
  grid-column: 6/8;
  display: flex;
  justify-content: space-between;
}
body .navbar .menu li {
  list-style: none;
}
body .navbar .menu a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
body .navbar .menu a:hover {
  color: black;
}
body .navbar .checkbtn {
  color: white;
  font-size: 2rem;
}

.checkbtn,
.nav__input {
  display: none;
}

@media (max-width: 846px) {
  .checkbtn {
    display: block;
    cursor: pointer;
    grid-column: 8/9;
  }
  .menu {
    background-color: #224949;
    position: fixed;
    top: 80px;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    -webkit-clip-path: circle(0 at center);
            clip-path: circle(0 at center);
    padding: 20px 0;
    margin: 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    transition: -webkit-clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out;
    transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
  }
  .nav__input:checked + .menu {
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
    background-color: #224949;
  }
  .menu a:hover,
.menu__link__active {
    background: none;
    color: black;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Footer {
  background-color: hsl(173deg, 100%, 7%);
  padding: 20px;
}
Footer .Footer__title {
  color: white;
  list-style: none;
  width: 500px;
  text-align: flex-end;
}
Footer .main__social {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 10px;
}
Footer .main__social .fa-brands {
  color: white;
  font-size: 1em;
  width: 35px;
}
Footer .main__social .fa-solid {
  color: white;
  font-size: 1em;
  width: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero__video {
  height: calc(100vh - 160px);
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  overflow: hidden;
}
.hero__video .text__into {
  grid-column: 7/10;
  grid-row: 3/7;
  color: white;
  position: relative;
  z-index: 1;
}
.hero__video .text__into h3 {
  font-size: 1.5em;
  font-weight: 300;
}
.hero__video .text__into h1 {
  font-size: 5em;
  color: #224949;
}
.hero__video .video {
  grid-area: 1/1/9/11;
  width: 100%;
}
.hero__video .video .VideoIntro {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body__form {
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Staatliches", cursive;
  background-color: #0d0d0d;
  height: calc(100vh - 160px);
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  min-height: 85.2vh;
}
.body__form .formulario {
  background-color: #224949;
  grid-column: 4/8;
  grid-row: 2/8;
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(134, 170, 170);
  text-align: center;
}
.body__form .formulario .form__titulo {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.body__form .formulario .form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.body__form .formulario .form__container .form__group {
  position: relative;
  --color: #5757577e;
}
.body__form .formulario .form__container .form__group .form__input {
  width: 100%;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
}
.body__form .formulario .form__container .form__group .form__label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.body__form .formulario .form__container .form__group .form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #418888;
  transform: scale(0);
  transform: left bottom;
  transition: 0.4s;
}
.body__form .formulario .form__container .form__submit {
  background: #ffffff;
  color: #000000;
  font-family: "Noto Sans Display", sans-serif;
  font-family: "Staatliches", cursive;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}
.body__form .formulario .form__container .form__submit:hover {
  background-color: rgb(28, 27, 27);
  color: white;
}

.form__input:not(:-moz-placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: rgb(5, 5, 5);
}

.form__input:not(:-ms-input-placeholder) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: rgb(5, 5, 5);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: rgb(5, 5, 5);
}

.form__input:not(:-moz-placeholder-shown) ~ .form__line {
  transform: scale(1);
}

.form__input:not(:-ms-input-placeholder) ~ .form__line {
  transform: scale(1);
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
  transform: scale(1);
}/*# sourceMappingURL=styles.css.map */