@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;600&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./Partials/heard";
@import "./Partials/footer";
@import "./Partials/form";
@import "./Partials/main";







